.carousel-item {
    height: 600px;
    overflow: hidden;
    width: 100%;
    }
.carousel-item img {
    width: 100%;
}

@media screen and (max-device-width: 480px) {
    .carousel-item{
        height: 200px;
    }
}